$def with (content)

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- bootstrap -->
	<link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<style>
		body{
			}
		.col-lg-12{
		height: 100px;
		}
		.col-lg-4{
		height: 40px;
		}
	</style>
</head>

<body>
<div class="container">
	<h1><a href="/search"></a></h1>
	<div class="row">
		<div class="col-xs-12">
		<ul class="nav nav-tabs">
			<li class="active" id="search"><a href="/search"> Home </a></li>
			<li id="login"><a href="/login">Login</a></li>
			<li id="register"><a href="/register">Register</a></li>
			<li id="about"><a href="/about">About</a></li>
		</ul>
		</div>
	</div>
	
$:content

	<script src="http://code.jquery.com.jquery/js"></script>
	<script src="static/js/bootstrap.min.js"></script>
</body>
</html>