<div class="col-lg-12">

<div class="hero-unit">
	<h1>Welcome to Hospital Compare!</h1>
	<p>Put in a zip code and we'll get started</p>
	<div class="col-lg-4">
	<form role="form" method="post" action="/results">
		<div class="input-group">
  			<span class="input-group-btn">
  			<button class="btn btn-default" type="submit">Go!</button>
  			</span>
  			<input type="text" class="form-control" name="zipcode" placeholder="Zip Code">
		</div>
	</form>
	</div>
</div>
</div>

<div class="col-lg-12"></div>

<div class="row">
	<div class="col-lg-4">
	<ul class="nav nav-list">
    <li class="nav-header">What would you like to see?</li>
    <li class="active"><a href="#">General Information</a></li>
    <li><a href="#">Hospital Acquired Infections</a></li>
    <li><a href="#">Spending Breakdown By Claim</a></li>
    <li><a href="#">Medicare Spending Per Patient</a></li>
    <li><a href="#">Medicare Volume Measures</a></li>
	</ul>
	</div>
	
	<div class="col-lg-8">

	</div>
</div>